<%- include('partials/header') %>


    <div class="my-2">

            <div class="swiper-container mainslider">
               
                <div class="swiper-wrapper mb-5">
                    <!-- Slides -->
                        <div class="swiper-slide ">
                            <a href="https://markabana.com/visconti">
                                <img class="img-fluid" src="admin/Images/banner/large/66_13052025195049.jpeg" alt="Visconti" />
                            </a>
                        </div>
                        <div class="swiper-slide ">
                            <a href="https://www.markabana.com/montblanc">
                                <img class="img-fluid" src="admin/Images/banner/large/43_13052025193958.jpeg" alt="Montblanc" />
                            </a>
                        </div>
                        <div class="swiper-slide ">
                            <a href="https://markabana.com/pelikan">
                                <img class="img-fluid" src="admin/Images/banner/large/50_13052025201714.jpeg" alt="Pelikan" />
                            </a>
                        </div>
                        <div class="swiper-slide ">
                            <a href="https://markabana.com/lexon">
                                <img class="img-fluid" src="admin/Images/banner/large/64_13052025203618.jpeg" alt="Lexon" />
                            </a>
                        </div>
                        <div class="swiper-slide ">
                            <a href="https://markabana.com/stdupont">
                                <img class="img-fluid" src="admin/Images/banner/large/44_13052025205308.jpeg" alt="Dupont" />
                            </a>
                        </div>
                        <div class="swiper-slide ">
                            <a href="https://markabana.com/carandache">
                                <img class="img-fluid" src="admin/Images/banner/large/61_22042025180953.jpeg" alt="Carandache" />
                            </a>
                        </div>
                        <div class="swiper-slide ">
                            <a href="https://markabana.com/lamy">
                                <img class="img-fluid" src="admin/Images/banner/large/63_06112024111822.jpeg" alt="lamy" />
                            </a>
                        </div>

                </div>
               
                <div class="swiper-pagination"></div>

          
            </div>

      


    </div>





    <div class="container kobi-tema-vitrin kobi-ikili-swiper">

        <div class="vitrin-baslik">
            <h4 class="font-weight-bold baslik position-relative pr-3 d-inline-block bg-body m-0"><a href="#" class="text-body"> TEMALAR</a></h4>
            <!-- If we need navigation buttons -->
            <div class="swiper-navigation-kobi">
                <div class="swiper-button-prev-kobi"><a href="#"> < </a></div>
                <div class="swiper-button-next-kobi"><a href="#"> > </a></div>

                <div>
                    <a href="#"> <i class="icon-grid kobi-icon"> </i></a>
                </div>
            </div>
           
        </div>



        <div class="swiper-container slider">
            <div class="swiper-wrapper mb-5">


                <div class="swiper-slide">
                    <a href="#">
                        <img src="admin/Images/tema/medium/16_17062025130922.jpeg" class="img-fluid" alt="&#xD6;zel &#x130;ndirimler.">
                    </a>

                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://www.markabana.com/admin/Images/tema/medium/6_12122024195509.jpeg" class="img-fluid" alt="Yeni Gelenler.">
                    </a>

                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://www.markabana.com/admin/Images/tema/medium/10_03092022105039.jpeg" class="img-fluid" alt="Limitli &#xDC;r&#xFC;nler.">
                    </a>

                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <img src="https://www.markabana.com/admin/Images/tema/medium/8_03092020143424.jpeg" class="img-fluid" alt="&#xD6;zel Olmak &#x130;steyenlere.">
                    </a>

                </div>
            </div>
            <!-- If we need pagination -->


            <!-- If we need scrollbar -->
        </div>



    </div>



<div class="border-top border-bottom py-4 bg-light" style="opacity:0.7">
<div class="container d-none d-lg-block">
<div class="d-flex justify-content-between">
<div class="d-flex flex-column align-items-center"><i class="icon-truck font-size-3"></i> <span class="ml-lg-2"> 1500 TL ve üzeri alışverişinize</span> <span>&Uuml;cretsiz Kargo</span></div>

<div class="d-flex flex-column align-items-center"><i class="icon-credit-card font-size-3"></i> <span class="ml-lg-2">Kredi Kartına Taksit</span></div>

<div class="d-flex flex-column align-items-center"><i class="icon-archive font-size-3"></i> <span class="ml-lg-2">İade Garantisi</span></div>

<div class="d-flex flex-column align-items-center"><i class="icon-time font-size-3"></i> <span class="ml-lg-2">Zamanında Teslimat</span></div>

<div class="d-flex flex-column align-items-center"><i class="icon-security font-size-3"></i> <span class="ml-lg-2">G&uuml;venli Alışveriş</span></div>
</div>
</div>

<div class="d-md-none d-flex bg-light justify-content-around"><small class="d-inline-flex flex-column align-items-center" style="width:65px;"><i class="icon-truck font-size-3"></i> <span class="ml-lg-2 text-center" style="width:65px;"> &Uuml;cretsiz Kargo</span></small> <small class="d-inline-flex flex-column align-items-center" style="width:65px;"><i class="icon-credit-card font-size-3"></i> <span class="ml-lg-2  text-center">Kredi Kartına Taksit</span></small> <small class="d-inline-flex flex-column align-items-center" style="width:65px;"><i class="icon-truck font-size-3"></i> <span class="ml-lg-2  text-center">İade Garantisi</span></small> <small class="d-inline-flex flex-column align-items-center" style="width:65px;"><i class="icon-time font-size-3"></i> <span class="ml-lg-2  text-center" style="width:65px;">Zamanında Teslimat</span></small> <small class="d-inline-flex flex-column align-items-center" style="width:65px;"><i class="icon-security font-size-3"></i> <span class="ml-lg-2  text-center">G&uuml;venli Alışveriş</span></small></div>
</div>





    <div class="container my-3 kobi-vitrin s_1" data-id="1">


        <div class="vitrin-baslik">
            <h4 class="font-weight-bold baslik position-relative pr-3 d-inline-block bg-body m-0">S&#x130;Z&#x130;N &#x130;&#xC7;&#x130;N SE&#xC7;T&#x130;KLER&#x130;M&#x130;Z</h4>
            <!-- If we need navigation buttons -->
            <div class="swiper-navigation-kobi">
                <div class="swiper-button-prev-kobi"><a href="#"> < </a></div>
                <div class="swiper-button-next-kobi"><a href="#"> > </a></div>
            </div>

        </div>



        <div class="swiper-container slider mt-3 " data-small="1" data-large="5">
            <div class="swiper-wrapper mb-5">

               
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="admin/Images/Urun/Small/40985_08032025091023.jpeg" alt="Caran d&#x2019;Ache 849 Misty Forest T&#xFC;kenmez-Mekanik Kur&#x15F;un Kalem Seti 8490.706 Special Edition">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="127510" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Kalem Setler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Caran d&#x2019;Ache 849 Misty Forest T&#xFC;kenmez-Mekanik Kur&#x15F;un Kalem Seti 8490.706 Special Edition</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">3.323,57 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  10</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">2.991,21  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/41070_26032025222000.jpeg" alt="Visconti Rembrandt Dolma Kalem Comedia Purgatorio KP15-50-FP">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="127550" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Visconti Rembrandt Dolma Kalem Comedia Purgatorio KP15-50-FP</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">13.097,44 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  15</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">11.132,82  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/41493_28042025224809.jpeg" alt="S.T. Dupont &#xC7;akmak Slim 7 Chinese New Year Snake Red 27075">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="127743" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">&#xC7;akmak</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">S.T. Dupont &#xC7;akmak Slim 7 Chinese New Year Snake Red 27075</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">19.219,07 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  15</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">16.336,21  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/28992_04032022172140.jpeg" alt="Leonardo Momento Magico Dolma Kalem Millefiori ST Fine U&#xE7; MZ-MAG-FIO-ST">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="118288" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Leonardo Momento Magico Dolma Kalem Millefiori ST Fine U&#xE7; MZ-MAG-FIO-ST</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">8.900,00 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  10</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">8.010,00  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/20712_31082020155137.jpeg" alt="Lamy Studio Dolma Kalem Glacier F (Fine) U&#xE7; 66GL-F">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="115397" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Lamy Studio Dolma Kalem Glacier F (Fine) U&#xE7; 66GL-F</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">4.058,35 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  15</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">3.449,60  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/41049_23032025211952.jpeg" alt="Montblanc Great Characters Dolma Kalem Enzo Ferrari Special Edition Giallo Modena M 130661">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="127544" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Montblanc Great Characters Dolma Kalem Enzo Ferrari Special Edition Giallo Modena M 130661</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <span class="text-primary font-weight-bold font-size-1 sonfiyat">64.063,58  TL</span>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/40999_13032025171521.jpeg" alt="Leuchtturm1917 Not Defteri Orta Boy (A5) Sert Kapak 411 Numaraland&#x131;r&#x131;lm&#x131;&#x15F; Sayfa D&#xFC;z Orman Ye&#x15F;ili 372927">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="127516" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Defter Ve Bloknot</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Leuchtturm1917 Not Defteri Orta Boy (A5) Sert Kapak 411 Numaraland&#x131;r&#x131;lm&#x131;&#x15F; Sayfa D&#xFC;z Orman Ye&#x15F;ili 372927</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">2.435,00 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  10</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">2.191,50  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/33632_17042023092847.jpeg" alt="Piguet Save the Planet Dolma Kalem PGTSTPLNT-7">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="120362" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Piguet Save the Planet Dolma Kalem PGTSTPLNT-7</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/40939_05032025112221.jpeg" alt="Pelikan Klasik M200 Dolma Kalem Marbled Red M U&#xE7;">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="127497" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Pelikan Klasik M200 Dolma Kalem Marbled Red M U&#xE7;</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">8.700,00 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  15</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">7.395,00  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
            </div>
            <!-- If we need pagination -->

            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <!-- If we need scrollbar -->
        </div>



    </div>










    







    











    <div class="container my-3 kobi-uclu-swiper kobi-blog">

        <div class="vitrin-baslik">
            <h4 class="font-weight-bold baslik position-relative pr-3 d-inline-block bg-body m-0"><a href="#" class="text-body"> BLOG</a></h4>
            <!-- If we need navigation buttons -->
            <div class="swiper-navigation-kobi">
                <div class="swiper-button-prev-kobi"><a href="#"> < </a></div>
                <div class="swiper-button-next-kobi"><a href="#"> > </a></div>

                <div>
                    <a href="#"> <i class="icon-grid kobi-icon"> </i></a>
                </div>
            </div>

        </div>




        <div class="swiper-container slider">
            <div class="swiper-wrapper mb-5">


                    <div class="swiper-slide text-center">


                        <div class="kobi-blog-item">
                            <a href="#">
                                <img src="https://www.markabana.com/admin/Images/blog/medium/37_06032022200753.jpeg" class="img-fluid" alt="8 Mart D&#xFC;nya Emek&#xE7;i Kad&#x131;nlar G&#xFC;n&#xFC;">
                            </a>
                            <h5 class="font-weight-bold my-3">8 Mart D&#xFC;nya Emek&#xE7;i Kad&#x131;nlar G&#xFC;n&#xFC;</h5>
                            <p class="text-primary">06.03.2025 </p>
                            <p class="multine-3 text-justify">
                                Her ba&#x15F;ar&#x131;l&#x131; kad&#x131;n&#x131;n arkas&#x131;nda hayalleri ve o ba&#x15F;ar&#x131;ya ula&#x15F;mas&#x131; i&#xE7;in ona destek olan sevdikleri vard&#x131;r.
                            </p>
                        </div>

                        <a href="#">Detay</a>

                    </div>
                    <div class="swiper-slide text-center">


                        <div class="kobi-blog-item">
                            <a href="#">
                                <img src="https://www.markabana.com/admin/Images/blog/medium/41_10072023213913.jpeg" class="img-fluid" alt="G&#xFC;nl&#xFC;k Tutman&#x131;n Faydalar&#x131;">
                            </a>
                            <h5 class="font-weight-bold my-3">G&#xFC;nl&#xFC;k Tutman&#x131;n Faydalar&#x131;</h5>
                            <p class="text-primary">10.07.2023 </p>
                            <p class="multine-3 text-justify">
                                G&#xFC;nl&#xFC;k yazman&#x131;n faydalar&#x131;n&#x131; sizin i&#xE7;in derledik.
                            </p>
                        </div>

                        <a href="#">Detay</a>

                    </div>
                    <div class="swiper-slide text-center">


                        <div class="kobi-blog-item">
                            <a href="#">
                                <img src="https://www.markabana.com/admin/Images/blog/medium/15_25042023104839.jpeg" class="img-fluid" alt="Kalite ve Klasik Bir Arada; El Casco">
                            </a>
                            <h5 class="font-weight-bold my-3">Kalite ve Klasik Bir Arada; El Casco</h5>
                            <p class="text-primary">05.04.2023 </p>
                            <p class="multine-3 text-justify">
                                Kurumsal &#x15E;&#x131;kl&#x131;&#x11F;&#x131;n, Geleneksel Markas&#x131; El Casco 
                            </p>
                        </div>

                        <a href="#">Detay</a>

                    </div>
            </div>
            <!-- If we need pagination -->


            <!-- If we need scrollbar -->
        </div>



    </div>





    <div class="container my-3 kobi-vitrin s_2" data-id="2">


        <div class="vitrin-baslik">
            <h4 class="font-weight-bold baslik position-relative pr-3 d-inline-block bg-body m-0">FIRSAT &#xDC;R&#xDC;NLER&#x130;</h4>
            <!-- If we need navigation buttons -->
            <div class="swiper-navigation-kobi">
                <div class="swiper-button-prev-kobi"><a href="#"> < </a></div>
                <div class="swiper-button-next-kobi"><a href="#"> > </a></div>
            </div>

        </div>



        <div class="swiper-container slider mt-3 " data-small="1" data-large="5">
            <div class="swiper-wrapper mb-5">

               
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/37868_04062024144848.jpeg" alt="Lamy Safari Summer Dolma Kalem Pina Colada Special Edition M U&#xE7; 0E9-PC-M">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="122226" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Lamy Safari Summer Dolma Kalem Pina Colada Special Edition M U&#xE7; 0E9-PC-M</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">1.608,85 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  35</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">1.045,75  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/35324_03102023114514.jpeg" alt="SenseBag Kalem &#xC7;antas&#x131; 24&#x27;l&#xFC; Siyah 76012024">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="120817" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Kalem K&#x131;l&#x131;f&#x131;</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">SenseBag Kalem &#xC7;antas&#x131; 24&#x27;l&#xFC; Siyah 76012024</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">
                                                        <span class="iskonto1 bg-secondary text-white p-1 rounded">%  5 </span>


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">990,19 </s>

                                                            <span class="ml-2 text-primary font-weight-bold font-size-1 sonfiyat">940,68 TL</span>
                                                    </div>

                                                </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/36785_27032024154250.jpeg" alt="Caran d&#x27;Ache Eskiz Kalem Fixpencil 2mm Alfredo Haberli Ochre &#xD6;zel Seri 22.077">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="121794" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Eskiz Kalem</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Caran d&#x27;Ache Eskiz Kalem Fixpencil 2mm Alfredo Haberli Ochre &#xD6;zel Seri 22.077</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">3.834,89 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  15</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">3.259,66  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/14458_17082020133922.jpg" alt="S.T. Dupont &#xC7;akmak Slim 7 Siyah Alt&#x131;n 27708">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="109221" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">&#xC7;akmak</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">S.T. Dupont &#xC7;akmak Slim 7 Siyah Alt&#x131;n 27708</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">16.371,80 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  20</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">13.097,44  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/27269_18092021215957.jpeg" alt="Monteverde Engage One Touch Inkball Rainbow MV35379">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="112976" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Roller Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Monteverde Engage One Touch Inkball Rainbow MV35379</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <span class="text-primary font-weight-bold font-size-1 sonfiyat">6.599,35  TL</span>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/39605_19112024101309.jpeg" alt="S.T. Dupont Fluo Neon Puro K&#x131;l&#x131;f&#x131; Ye&#x15F;il 183417">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="126308" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Puro &#xDC;r&#xFC;nleri</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">S.T. Dupont Fluo Neon Puro K&#x131;l&#x131;f&#x131; Ye&#x15F;il 183417</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">20.642,71 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  20</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">16.514,17  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/35782_11012024170618.jpeg" alt="Delta Dune P Oasis Dolma Kalem Ruthenium Medium U&#xE7;">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="120937" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Delta Dune P Oasis Dolma Kalem Ruthenium Medium U&#xE7;</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">7.500,00 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  20</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">6.000,00  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/33418_31032023124424.jpeg" alt="Kaweco Collection AL Sport Dolma Kalem Ruby Fine U&#xE7; 11000148">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="120325" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Kaweco Collection AL Sport Dolma Kalem Ruby Fine U&#xE7; 11000148</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">7.175,00 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  25</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">5.381,25  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/37917_10062024181502.jpeg" alt="Leuchtturm1917 &#x27;&#x27;Some Lines a Day&#x27;&#x27; 5 Y&#x131;ll&#x131;k An&#x131;/Hat&#x131;ra Defteri Orta Boy (A5) Sert Kapak 80 gr. Ka&#x11F;&#x131;t Leylak 368168">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="122255" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Defter Ve Bloknot</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Leuchtturm1917 &#x27;&#x27;Some Lines a Day&#x27;&#x27; 5 Y&#x131;ll&#x131;k An&#x131;/Hat&#x131;ra Defteri Orta Boy (A5) Sert Kapak 80 gr. Ka&#x11F;&#x131;t Leylak 368168</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">2.355,00 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  15</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">2.001,75  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
<div class="swiper-slide">


                        <!-- Product -->
                        <div class="card shadow-none text-center uruncard">
                            <div class="position-relative header">

                                <a href="#">
                                    <img class="img-fluid resim" src="https://www.markabana.com/admin/Images/Urun/Small/36139_01032024082833.jpeg" alt="Sailor T&#xFC;rkiye &#xD6;zel Seri Dolma Kalem GT Turkuaz Medium 118671440">
                                </a>

                                <div class="position-absolute top-0 left-0 pt-3 pl-3 etiket kobietiket">


                                </div>

                                <div class="position-absolute bottom-0 right-0 pt-3 pr-3 favori">
                                    <button type="button" data-id="118464" class="kobi-yuvarlak btnfavoriekle btn btn-xs btn-icon btn-outline-secondary  rounded-circle kobi-yuvarlak" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                        <i class="icon-heart5 "></i>
                                    </button>
                                </div>

                            </div>

                            <div class="card-body pb-2 body ">

                                <a class="multine-1 font-weight-bold  mb-1 kategori" 
                                   href="#">Dolma Kalemler</a>
                                <span class="d-block">
                                    <a class="urunadi multine-3" href="#">Sailor T&#xFC;rkiye &#xD6;zel Seri Dolma Kalem GT Turkuaz Medium 118671440</a>
                                </span>

                           
                            </div>

                            <div class="card-footer bg-white border-0 pt-0 footer position-relative">
                                <div class="kobi-altparca">

                                    <div class="fiyatlar">

                                                <div class="my-1 d-flex justify-content-center align-items-center">


                                                    <div class="d-flex flex-column align-items-end ml-2">
                                                        <s class="text-muted oldfiyat">16.609,08 </s>

                                                    </div>

                                                </div>
                                                    <div class="">
                                                        <span class="iskonto2">&#xD6;zel &#x130;ndirimler </span> <span>%  35</span>
                                                        <span class="text-primary font-weight-bold font-size-1 ml-2 sonfiyat d-block">10.795,90  TL</span>
                                                    </div>
                                    </div>

                                        <div class="my-1">
                                            <div class="text-primary mr-2 d-inline-flex align-items-center small star">


                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                                    <i class="icon-star-empty3 text-primary kobi-icon"></i>
                                            </div>
                                        </div>


                                    <a href="#"
                                       class="btn  btn-light p-1 px-3 sepeteekle">
                                        Ürünü İncele
                                    </a>

                                </div>

                            </div>
                        </div>
                        <!-- End Product -->



                    </div>
            </div>
            <!-- If we need pagination -->

            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->

            <!-- If we need scrollbar -->
        </div>



    </div>






<%- include('partials/footer') %>
